VITE_SUPABASE_DATABASE_URL=https://*.supabase.co
VITE_API_KEY=abcdefghij
SUPABASE_DATABASE_URL=https://*.supabase.co # The key is used by Netlify edge functions
SUPABASE_SERVICE_ROLE_KEY=abcdefghij # The key is used by Netlify edge functions
