@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}

body {
  background: #f0f0f0;
  font-family: 'Anek Malayalam', sans-serif;
}

.buttonQuiz {
  @apply flex bg-transparent hover:bg-gray-200 hover:text-gray-600 rounded-lg space-x-3 size-8 items-center justify-center focus:outline-none focus:ring-2 focus:ring-natagora/40;
}
